.sheet-type-character {
  display: grid;
  align-items: start;
  gap: 5px;
  font-size: 12px;
  grid-template: 50px 23px repeat(4, auto) / 6.5fr 3.5fr 5.2fr 4.8fr;
}

.sheet-logo {
  grid-column: 1;
  grid-row: span 2;
  align-self: stretch;
}

@mixin bluebox {
  @include title-text;
  background-color: $lightblue;
  padding: 3px;
  input[type=text], .sheet-auto-expand {
    @include title-text;
  }
}

@mixin leftshift {
  position: relative;
  left: -17px;
  width: calc(100% + 17px);
}

@mixin right-checkboxes {
  position: relative;
  label {
    position: absolute;
    z-index: 5;
    width: auto;
    height: 12px;
    right: -6px;
    margin: 0;
    padding: 0;
    &:first-of-type {
      top: calc(25% - 6px);
    }
    &:last-of-type {
      bottom: calc(25% - 6px);
    }
  }
}

.sheet-title-vertical {
  display: grid;
  grid-template-columns: 14px 1fr;
  column-gap: 3px;
  > .sheet-title {
    @include title-text;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transform: rotate(-90deg);
    height: 14px;
    align-self: center;
    justify-self: center;
  }
  > .sheet-content {
    border-left: $bordercolor;
  }
}

.sheet-glory {
  grid-column: span 2;
  align-self: stretch;
  > .sheet-title {
    width: 55px;
  }
  .sheet-content {
    display: grid;
    padding-left: 5px;
    gap: 5px;
    grid-template: auto / repeat(4, 1fr);
    .sheet-box {
      display: flex;
      align-items: center;
    }
  }
}

.sheet-namebox {
  align-self: stretch;
  > .sheet-title {
    width: 50px;
  }
  .sheet-content {
    display: grid;
    gap: 5px;
    padding-left: 5px;
    grid-template: auto/ 22% 32% 1fr;
    font-size: 10px;
    label {
      line-height: 1;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    input + span {
      margin-right: 3px;
    }
  }
}

.sheet-info {
  display: grid;
  align-content: start;
  grid-row: 3;
  grid-column: 1;
  grid-gap: 10px;
  .sheet-infobox {
    display: grid;
    min-height: 39px;
    grid-template: auto / 34% 1fr;
    .sheet-title {
      display: grid;
      background-color: $lightblue;
      align-content: center;
      .sheet-auto-expand {
        @include bluebox;
        padding: 3px 5px;
        font-size: 12.5px;
        text-align: center;
        min-height: 14px;
      }
    }
    .sheet-content {
      display: flex;
      align-items: center;
      border: 2px solid black;
      input[type=text],
      .sheet-auto-expand {
        padding: 2px 4px;
      }
      input[type=text],
      .sheet-auto-expand {
        flex: 1 1 auto;
        width: 0;
        font-size: 13px;
        line-height: 1.2;
        min-height: 18px;
      }
    }
  }
  select {
    width: 45px;
  }
}

.sheet-honored-god {
  @include right-checkboxes;
}

@each $domain in $domains {
  button[type=roll].sheet-domain-button-#{$domain} {
    background-image: url("#{$repo}/#{$domain}.png");
  }
}
.charsheet .sheet-domains {
  display: grid;
  border-left: $bordercolor;
  line-height: 1;
  align-content: start;
  align-self: start;
  grid-row: 2 / 4;
  grid-column: 2;
  grid-gap: 10px;
  margin-top: 5px;
  .sheet-title {
    @include title-text;
    height: 12px; 
    padding-left: 2px;
  }
  button[type=roll].btn {
    @include bluebox;
    display: block;
    text-align: center;
    font-size: 12px;
    white-space: normal;
    margin: 0;
    padding: 3px 3px 3px 20px;
    line-height: 1.2;
    width: 0;
    flex: 1 1 0;
    background-size: auto 65%;
    background-position: 3px center;
    background-repeat: no-repeat;
    &.btn::before {
      content: "";
    }
  }
  select {
    width: 39px;
    border-width: 2px 2px 2px 0;
    height: 100%;
    border-color: black;
  }
  .sheet-domain {
    display: flex;
    height: 39px;
    &:last-child button[type=roll] {
      background-position: 8px center;
    }
  }
}

.sheet-favors {
  @include leftshift;
  grid-row: 4;
  grid-column: span 2;
  > .sheet-title {
    width: 137px;
  }
  .sheet-content {
    display: grid;
    gap: 5px;
    grid-template: auto / repeat(4, 1fr);
  }
}

.sheet-favorbox {
  @include bluebox;
  @include right-checkboxes;
  padding: 5px 3px;
  border-right: $bordercolor;
  .sheet-label {
    font-weight: bold;
  }
}

.sheet-style-notes {
  @include leftshift;
  grid-row: 5;
  min-height: 135px;
  grid-column: span 2;
  .sheet-auto-expand {
    min-height: 90px;
  }
  > .sheet-title {
    width: 135px;
  }
}

.sheet-recite {
  @include leftshift;
  min-height: 155px;
  grid-row: 6;
  grid-column: span 3;
  > .sheet-title {
    width: 158px;
  }
  .sheet-content {
    gap: 3px 5px;
    column-gap: 5px;
    row-gap: 3px;
    display: grid;
    align-content: start;
    grid-template: auto / repeat(4, 1fr);
    padding-left: 5px;
    > :first-child {
      margin-bottom: 5px;
    }
    > :first-child,
    > :last-child {
      grid-column: span 4;
    }
    .sheet-title {
      @include title-text;
      font-weight: bold;
    }
    > .sheet-auto-expand {
      font-size: 13px;
      line-height: 15px;
      min-height: 15px;
    }
  }
  .sheet-recite-box {
    .sheet-auto-expand {
      font-size: 10.5px;
      line-height: 1.5;
      font-style: italic;
    }
  }
}

.sheet-pathos-bonds {
  grid-row: span 4;
  align-self: stretch;
  align-items: start;
  border-left: $bordercolor;
  display: grid;
  grid-template: auto / 57px 1fr;
  margin: 5px 0 0 5px;
  .sheet-pathos-fate {
    border-right: $bordercolor;
    border-bottom: $bordercolor;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 8px;
    input[type=checkbox] {
      &.sheet-circlebox,
      &.sheet-squarebox {
        margin-right: 0;
        margin-bottom: -12px;
      }
    }
    .sheet-title {
      @include title-text;
      margin-bottom: 5px;
    }
  }
  .sheet-agony {
    @include title-text;
    width: 100%;
    background: $mediumgrey;
    text-align: center;
    color: black;
  }
  .sheet-fate {
    @include title-text;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
  }
  .sheet-bonds {
    .sheet-title {
      @include title-text;
      padding-left: 2px;
      margin-bottom: 5px;
    }
    .repitem {
      display: grid;
      padding: 0 3px;
      border-bottom: 2px solid $darkgrey;
      grid-template: auto / 30px 1fr;
      margin-bottom: 4px;
    }
    input[type=number] {
      font-size: 12px;
      width: 100%;
    }
    .repitem input[type=text] {
      font-size: 12px;
      width: 100%;
    }
  }
  .repcontrol {
    padding-left: 2px;
  }
  .sheet-bond-uses {
    margin-top: 10px;
    .sheet-top {
      font-style: italic;
      text-align: center;
      line-height: 1.1;
      padding: 0 3px;
    }
    .sheet-bond-use {
      @include title-text;
      letter-spacing: 0.5px;
      min-height: 14px;
      margin-top: 5px;
      padding: 3px;
      background: $lighter;
    }
  }
}

.sheet-great-deeds-boons {
  grid-row: span 4;
  margin-top: 5px;
  border-left: $bordercolor;
  .sheet-title {
    @include title-text;
    padding-left: 2px;
    margin-bottom: 5px;
  }
  .repitem {
    display: flex;
    padding: 0 2px;
    border-bottom: 2px solid $darkgrey;
    margin-bottom: 3px;
    .sheet-squarebox {
      margin: 3px -12px 0 3px;
      & + span {
        margin: 3px 5px 0 0;
      }
    }
  }
  .sheet-auto-expand {
    flex: 1 1 auto;
    margin: 3px 0;
    min-height: 14px;
  }
  .repcontrol {
    padding-left: 2px;
  }
  .sheet-boons {
    margin-top: 10px;
  }
  .sheet-boon {
    display: flex;
    background-color: #cad8dc;
    padding: 4px;
    align-items: center;
    margin: 5px 0 0 3px;
    .sheet-squarebox + span {
      margin-right: 5px;
    }
  }
  .sheet-divider {
    height: 2px;
    background: black;
    margin-top: 5px;
  }
}

.sheet-virtues {
  border-left: $bordercolor;
  width: 140px;
  padding-left: 3px;
  .sheet-title {
    @include title-text;
  }
  .sheet-virtue {
    background: #ddd;
    display: grid;
    grid-template: auto / 35px 1fr;
    margin-top: 5px;
    gap: 5px;
    padding: 3px;
  }
  input[type=number].sheet-value {
    width: 100%;
    font-weight: bold;
    font-size: 13px;
  }
}
