$lighter: #ddd;
$mediumgrey: #bbb;
$darkgrey: #999;
$lightblack: #555;
$fontblack: #333;
$lightblue: #cad8dc;
$darkred:  #669999;

$bordercolor: 2px solid black;

$sheet-width-character: 860px;
$repo: "https://raw.githubusercontent.com/joesinghaus/Agon-sheet/master/Assets";
$domains: ("arts_oration" "blood_valor" "craft_reason" "resolve_spirit");
