.sheet-rolltemplate-agon-hero {
  .sheet-holder {
    color: white;
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    display: grid;
    user-select: none;
    cursor: default;
    overflow: hidden;
    font-variant-numeric: lining-nums;
    margin: 0 -5px -4px -45px;
    width: 299px;
    font-family: "Times New Roman", serif;
    align-content: start;
    align-items: end;
    box-sizing: border-box;
    padding: 51px 20px 29px 33px;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 299px auto;
  }
  div {
    box-sizing: border-box;
  }
  .withoutavatars & {
    margin-left: -15px;
  }
  .sheet-suffers ~ .sheet-holder {
    background-image: url("#{$repo}/rolltemplate/bg_suffers.png");
    grid-template: 33px 42px 42px 69px/ 120px 1fr;
    height: 260px;
  }
  .sheet-prevails ~ .sheet-holder {
    background-image: url("#{$repo}/rolltemplate/bg_prevails.png");
    grid-template: 33px 42px 42px 200px/ 120px 1fr;
    height: 407px;
  }
  .sheet-target, .sheet-result, .sheet-name, .sheet-description {
    z-index: 1;
  }
  .sheet-type {
    background-image: url("#{$repo}/rolltemplate/type_any.png");
    width: 93px;
    grid-column: span 2;
    height: 33px;
    background-size: 100% 100%;
    z-index: 1;
  }
  @each $domain in $domains {
    .sheet-type.sheet-type-#{$domain} {
      background-image: url("#{$repo}/rolltemplate/type_#{$domain}.png");
    }
  }
  .sheet-target {
    padding-left: 61px;
  }
  .sheet-result {
    color: black;
    padding-left: 53px;
  }
  .sheet-name {
    grid-column: span 2;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-left: 4px;
  }
  .sheet-description {
    grid-column: span 2;
    padding-right: 20px;
  }
  
  .inlinerollresult {
    border: none !important;
    background-color: transparent;
    font-weight: bold;
    padding: 0 3px 0 0;
    font-size: 20px;
  }
}